body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4b4848;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #e0dddd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    /* margin-bottom: 10px; */
    margin: 0px 0px 10px -8px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

.btn {
    background: #444;
    border: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #555;
}

.equal {
    grid-row: span 2;
    background: #00ff26;
}

.equal:hover {
    background: #93908d;
}

.zero {
    grid-column: span 2;
}
